# Built-in Data Types
>Variables can store data of different types, and different types can do different things.

<ul>Python has the following data types built-in by default, in these categories:
    <li>Text Type:	str </li>
<li>Numeric Types:	int, float, complex</li>
<li>Sequence Types:	list, tuple, range</li>
<li>Mapping Type:	dict</li>
<li>Set Types:	set, frozenset</li>
<li>Boolean Type:	bool</li>
<li>Binary Types:	bytes, bytearray, memoryview</li></ul>

In [1]:
x = "Hello World"
print(x,"\n",type(x))

Hello World
 <class 'str'>

In [2]:
x = 100
print(x,"\n",type(x))

100
 <class 'int'>

In [3]:
x = 3.14
print(x,"\n",type(x))

3.14
 <class 'float'>

In [4]:
x = 3j
print(x,"\n",type(x))

3j
 <class 'complex'>

In [5]:
x = ["apple", "Orange", "Grapes","Pineapple"]
print(x,"\n",type(x))

['apple', 'Orange', 'Grapes', 'Pineapple']
 <class 'list'>

In [6]:
x = ("apple", "Orange", "Grapes","Pineapple")
print(x,"\n",type(x))

('apple', 'Orange', 'Grapes', 'Pineapple')
 <class 'tuple'>

In [7]:
x = range(5)
print(x,"\n",type(x))

range(0, 5)
 <class 'range'>

In [8]:
x = {"name" : "Divya", "Gender" : "Female"}
print(x,"\n",type(x))

{'name': 'Divya', 'Gender': 'Female'}
 <class 'dict'>

In [9]:
x = {"apple", "Orange", "Grapes","Pineapple"}
print(x,"\n",type(x))

{'Grapes', 'Orange', 'apple', 'Pineapple'}
 <class 'set'>

In [10]:
x = frozenset({"apple", "Orange", "Grapes","Pineapple"})
print(x,"\n",type(x))

frozenset({'Grapes', 'Orange', 'apple', 'Pineapple'})
 <class 'frozenset'>

In [11]:
x,y = True,False
print("x=",x,"\ny=",y,"\n",type(x),"\n",type(y))

x= True
y= False
 <class 'bool'>
 <class 'bool'>

In [12]:
x=b"Hi"
print(x,"\n",type(x))

b'Hi'
 <class 'bytes'>

In [13]:
x = bytearray(2)
print(x,"\n",type(x))

bytearray(b'\x00\x00')
 <class 'bytearray'>

In [14]:
x = memoryview(bytes(3))
print(x,"\n",type(x))

<memory at 0x000000BAE00D2AC0>
 <class 'memoryview'>

In [15]:
#Setting the particular datatype

x = str("Hello World")
print(x,"\n",type(x))
x = int(100)
print(x,"\n",type(x))
x = float(205.90)
print(x,"\n",type(x))
x = complex(13j)
print(x,"\n",type(x))
x = list(("apple", "Orange", "Grapes","Pineapple"))
print(x,"\n",type(x))
x = tuple(("apple", "Orange", "Grapes","Pineapple"))
print(x,"\n",type(x))
x = range(7)
print(x,"\n",type(x))
x = dict(name="Divya", age=21)
print(x,"\n",type(x))
x = set(("apple", "Orange", "Grapes","Pineapple"))
print(x,"\n",type(x))
x = frozenset(("apple", "Orange", "Grapes","Pineapple"))
print(x,"\n",type(x))
x = bool(6)
print(x,"\n",type(x))
x = bytes(6)
print(x,"\n",type(x))
x = bytearray(6)
print(x,"\n",type(x))
x = memoryview(bytes(6))
print(x,"\n",type(x))

Hello World
 <class 'str'>
100
 <class 'int'>
205.9
 <class 'float'>
13j
 <class 'complex'>
['apple', 'Orange', 'Grapes', 'Pineapple']
 <class 'list'>
('apple', 'Orange', 'Grapes', 'Pineapple')
 <class 'tuple'>
range(0, 7)
 <class 'range'>
{'name': 'Divya', 'age': 21}
 <class 'dict'>
{'Grapes', 'Orange', 'apple', 'Pineapple'}
 <class 'set'>
frozenset({'Grapes', 'Orange', 'apple', 'Pineapple'})
 <class 'frozenset'>
True
 <class 'bool'>
b'\x00\x00\x00\x00\x00\x00'
 <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00\x00')
 <class 'bytearray'>
<memory at 0x000000BAE00D2AC0>
 <class 'memoryview'>

# variables in Python

**Variable Creation**

In [16]:
Name="Divya" # no need of defining the datatype of the value stored in the varable 
age=21
height=5.45
Name,age,height

('Divya', 21, 5.45)

In [61]:
S1=Divya # if you define a string without quotes it leads to an error

NameError: name 'Divya' is not defined

In [66]:
S1='Divya'# you can define a string with single quotes
S2="Divya"# you can define a string with double quotes
S3="'Divya'"# you can define a string with triple quotes too
S1,S2,S3

('Divya', 'Divya', "'Divya'")

In [132]:
# you can also assign values to the variables in this way
n1,n2,n3,n4=1,2,3,4
n1,n2,n3,n4

(1, 2, 3, 4)

In [71]:
type(S1),type(S2),type(S3)

(str, str, str)

**Declare the variable and print**

In [10]:
Var1="Sudhakar is the name of my brother"
print(Var1)
print(Var1,Name) #printing 2 variables at a time

Sudhakar is the name of my brother
Sudhakar is the name of my brother Divya

**Re-declaring the Variable**

In [16]:
Number1=100
print("Before declaration value =",Number1,)
Number1=20
print("After re-declaration value =",Number1)

Before declaration value = 100
After re-declaration value = 20

**Assigning multiple values to variables**

In [45]:
a=b=c=22
print(a)
print(b)
print(c)

22
22
22

**Checking for the memory ID**

In [46]:
id(a),id(b),id(c) # all the values are stored at the same memory location

(557796256720, 557796256720, 557796256720)

**Deleting the variable**

In [50]:
del(a) # var a is deleted

In [51]:
a# checking whether the var is in the memory location

NameError: name 'a' is not defined

In [29]:
b,c # checking whether b and c are present in the memory

(22, 22)

In [30]:
d=22 # creating another var with same val to check whether it is in same location

In [31]:
id(d) #even d is also pointing to the same location

557796256720

In [32]:
c=100 # changing the val

In [33]:
b,c # now value of c is changed , c=22 is garbage collected

(22, 100)

In [34]:
id(c) # now as a different memory location

557796447696

**To check the datatype**

In [55]:
type(c),type(Name),type(height)

(int, str, float)

**+ Operator**

In [56]:
a=10
b=10

In [57]:
a+b # here + performs an addtion operation

20

In [58]:
Name="Sudhakar"
Surname="Reddy"

In [59]:
Name+Surname # here + performs concatination

'SudhakarReddy'

In [72]:
a+Name # you can't concatenate a int and string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**Local Variables**
>*Local variables are defined and declared within a function*

In [135]:
def f():
    s="Hello World!" # s is a local variable
    print(s)

In [136]:
f()

Hello World!

In [78]:
s # this variable is not available out of the function

NameError: name 's' is not defined

**Global variables**
>*Global variables are defined and declared outside the function*
>>*if we declare any variable using global keyword inside a function this variable is accessible even outside the function and the changes made outside the function will effect the value of global variable inside the function*

In [1]:
string1="Python" # this variable as global scope

In [2]:
def s():
    print(string1) # hence accessible everywhere

In [3]:
s()

Python

In [7]:
global p
p=10
p

10

In [8]:
def addition():
    print(p)

In [9]:
addition()

10

In [13]:
def addition():
    p=p*10 #since p is declared as global outside the function you cannot make any changes to the value of p inside the function
    print(p)

In [14]:
addition() #this leads to error since the function trying to modify the value of global variable p

UnboundLocalError: local variable 'p' referenced before assignment

In [16]:
p,id(p),type(p)

(10, 17179175504, int)

In [17]:
p=p+1 # you can modify the value of p outside the function

In [22]:
q=100
q,id(q)

(100, 17179366864)

In [20]:
def q():
    global q
    print(q)

In [21]:
q() #this function does not give a proper result since it is defined as global inside the function but not assigned a value to it inside the function

<function q at 0x000000038546C310>

In [23]:
q

100

In [60]:
def q():
    global q
    q=200
    print(q)

In [61]:
q() # now you can see that the value of q is changed ,and if you check the value of q now it will show the updated q value

200

In [62]:
q,q() # you cannot call a func and var at a time this leads to error

TypeError: 'int' object is not callable

In [63]:
q=300
q

300

In [64]:
q() # this leads to error since you are updated the value of variable q as 300 but inside the function it is making q as global and making it as q=200

TypeError: 'int' object is not callable

In [66]:
q=q+1
q

302

In [68]:
def q(): #currently q=302
    global q 
    q=200 # Now q changes 200
    print(q)
    
q()

200

In [70]:
p,(p+1),q #now q is globally assigned as 200

(11, 12, 200)

In [81]:
q=200+1000
q

1200

In [78]:
q() #now if you run this func it leads to error!

TypeError: 'int' object is not callable

In [84]:
201*2,q,q*2

(402, 1200, 2400)

**Object reference**

In [87]:
x=1000

In [88]:
x=y # this leads to error since y does'nt have any value

NameError: name 'y' is not defined

In [89]:
y=x # now both x and y points to same value

In [90]:
x,y,id(x),id(y)

(1000, 1000, 15120982096, 15120982096)

In [91]:
# if we make any changes to  y it will be affected to y itself, it does not affect x
y='Divu'

In [92]:
x,y

(1000, 'Divu')

In [193]:
x=y #now both x and y have same value ,the val x->100 goes to garbage

In [93]:
x,y

(1000, 'Divu')

**Deleting the variable from memory using del()**

In [195]:
del(x),del(y) # cannot use del() two times in a cell

SyntaxError: invalid syntax (Temp/ipykernel_281432/3809829599.py, line 1)

In [94]:
del(x,y) # deleting multiple variables at a time

In [95]:
del(x)

NameError: name 'x' is not defined

# Output in Python

## print()
 
**Print function is used to print the statement within the quotes**
> print() has two arguments
>><li>end</li>
>><li>sep</li>

In [97]:
print("Welcome to the world of Python")

Welcome to the world of Python

In [101]:
print("welcome")
print('to')
print('the')
print("world")

welcome
to
the
world

In [ ]:
# to avoid printing multiple print statements in multiple lines use the end argument,so that all of them executes in the same line as shown below

In [102]:
print("Welcome",end=" ")
print("to",end=" ")
print("the",end=" ")
print("World",end=" ")

Welcome:to the World

In [117]:
print("Hello")
print("What's your name? ",end="Hii,")
print("My name is Divya")
print(",can i know your good name plzzz!")

Hello
What's your name? Hii,My name is Divya
,can i know your good name plzzz!

In [119]:
print("Hello!")
print("What's your name? ",end="Hii,")
print("My name is Divya",end=" ")
print(",can i know your good name plzzz!")

Hello!
What's your name? Hii,My name is Divya ,can i know your good name plzzz!

In [ ]:
# sep-this argument provides a separator between the strings in a print statement!
#by default it provides a single space sep=''

In [123]:
v1,v2,v3=1,2,3

In [124]:
print(v1,v2,v3) #by default the print statement provides a single space between two values separated by comma

1 2 3

In [128]:
print(v1,v2,v3,sep="") # this indicates not to provide a space between the arguments

123

In [129]:
print(v1,v2,v3,sep=",")

1,2,3

In [130]:
print(v1,v2,v3,sep=":")

1:2:3

In [134]:
print(v1,v3,sep="--------------------------",end=" ")
print(v2)

1--------------------------3 2

new line character \n

In [332]:
print("Name:\nDivya\nAge:\n22") #\n is the new line character

Name:
Divya
Age:
22

In [339]:
print("")

# Input in Python

*input() is used to take input from the user.It should be noted that the input() accepts only string data.*

In [138]:
num=input("Enter the number:") # here the entered num is considered as string 
print("The Number is =",num,"and the class of the num is",type(num))

Enter the number:1234
The Number is = 1234 and the class of the num is <class 'str'>

In [143]:
Username=input("Enter the Username : ")
Password=input("Enter the Password : ")
print("Username=",Username,"Password=",Password)
print("class of username and password",type(Username),type(Password))

Enter the Username : Divya
Enter the Password : divya023
Username= Divya Password= divya023
class of username and password <class 'str'> <class 'str'>

**input with int()**
>if the user want to take the numeric data as input then use int()

In [148]:
Name=input("Enter your name : ")
Age=int(input("Enter your age : ")) 
Phone_num=int(input("Enter your contact number : "))
print(Name,Age,Phone_num,sep=":")

Enter your name : Divya
Enter your age : 21
Enter your contact number : 9731056014
Divya:21:9731056014

In [149]:
type(Name),type(Age),type(Phone_num)

(str, int, int)

**input wit float**()
>if the user want to take the float value as input then use float()

In [150]:
salary=float(input("Enter your salary"))
print("Salary=",salary)

Enter your salary100850.00
Salary= 100850.0

In [151]:
type(salary)

float

In [156]:
a=int(input("Enter the value of a : "))
b=float(input("Enter the value of b : "))
c=a/b
print("c=",c)

Enter the value of a : 20
Enter the value of b : 10
c= 2.0

In [158]:
type(a),type(b),type(c)

(int, float, float)

**input with eval()**
> eval() considers the datatype according to the nature of the input provided

In [160]:
Student_Name=eval(input("Student Name : "))
Student_Age=eval(input("Age : "))
Student_Gender=eval(input("Gender : "))
Student_Height=eval(input("Enter your height in centimeters : "))
print("Student Name : ",Student_Name)
print("Student Age : ",Student_Age)
print("Student Gender : ",Student_Gender)
print("Student Height : ",Student_Height)

Student Name : "Divya"
Age : 21
Gender : 'F'
Enter your height in centimeters : 132.3
Student Name :  Divya
Student Age :  21
Student Gender :  F
Student Height :  132.3

In [161]:
Student_Name=eval(input("Student Name : ")) # it takes string as input only if it is mentioned within quotes,otherwise leads to error!
Student_Age=eval(input("Age : "))
Student_Gender=eval(input("Gender : "))
Student_Height=eval(input("Enter your height in centimeters : "))

Student Name : Divya

NameError: name 'Divya' is not defined

In [162]:
type(Student_Name),type(Student_Age),type(Student_Height),type(Student_Gender)

(str, int, float, str)

**Taking multiple values as input() using input and split()**

In [308]:
a,b,c=input("Enter three values ").split()

Enter three values 10 20 30

In [313]:
a,b,c,type(a),type(b),type(c)

('10', '20', '30', str, str, str)

In [316]:
a+b+c #concatination is done here

'102030'

In [318]:
# if we try to perform mathematical operations like *.-,/ on a,b and c values it leads to error because the input is take as strings
a-b-c,a*b

TypeError: unsupported operand type(s) for -: 'str' and 'str'

int(),float(),eval() cannot be used to take multiple inputs

In [319]:
a,b,c=int(input("Enter three values ").split())

Enter three values 1 2 3

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [311]:
a,b,c=eval(input("Enter three values ").split())

Enter three values 10 20 30

TypeError: eval() arg 1 must be a string, bytes or code object

Usage of format() in print statement

In [6]:
a, b = input("Enter two values: ").split()
print("First number is {} and second number is {}".format(a, b))
print()

Enter two values: 12 45
First number is 12 and second number is 45

In [322]:
x, y = [int(x) for x in input("Enter two values: ").split()]
print("First Number is: ", x)
print("Second Number is: ", y)
print(),type(x),type(y)

Enter two values: 1 2
First Number is:  1
Second Number is:  2

(None, int, int)

In [323]:
p,q=[int(p) for p in input("Enter two values : ").split()]
print("p value = ",p)
print("q value = ",p)
print(),type(p),type(q)

Enter two values : 23 45
p value =  23
q value =  23

(None, int, int)

In [327]:
x=[float(x) for x in input("Enter list of values to store in x = ").split()]
print(x),type(x)

Enter list of values to store in x = 1 100 10000 34 89.99 67.3 7689 0.56
[1.0, 100.0, 10000.0, 34.0, 89.99, 67.3, 7689.0, 0.56]

(None, list)

In [329]:
x=[eval(x) for x in input("Enter list of values to store in x").split()]
print(x),type(x)

Enter list of values to store in x12 78.5 'Divu' 1+2
[12, 78.5, 'Divu', 3]

(None, list)

# Operators

> *Operators are used to perform some mathematical or logical operations!*

### Python language supports the following types of operators.
<ul>
<li>Arithmetic Operators</li>
<li>Comparison (Relational) Operators</li>
<li>Assignment Operators</li>
<li>Logical Operators</li>
<li>Bitwise Operators</li>
<li>Membership Operators</li>
<li>Identity Operators</li>
<ul>

###### Arithmentic Operators
> These operators are used to perform arithmetic operations like addition,subtraction,multiplication,division,etc.
>> It includes +,-,* ,/(quotient),** (for exponent), %(modulus-gives remainder), //(floor division-it neglects the decimal point values)

In [163]:
a,b,c=10,20,30

In [164]:
# addition
a+b+c

60

In [167]:
#subtraction
a-b-c

-40

In [168]:
#multiplication
a*b*c

6000

In [172]:
#Division >>>quotient value
a/b/c,a/2,b/2,c/2

(0.016666666666666666, 5.0, 10.0, 15.0)

In [174]:
#Floor division >>>truncates the decimal values
a//b//c,a//2,b//2,c//2

(0, 5, 10, 15)

In [177]:
#Modulus >>>provides remainder
a%b%c,a%2,b%2,c%2,2%a,2%b,2%c

(10, 0, 0, 0, 2, 2, 2)

In [188]:
#Exponent
squares=2**2,3**2,4**2
cubes=2**3,3**3,4**3
squares,cubes

((4, 9, 16), (8, 27, 64))

In [189]:
type(squares),type(cubes)

(tuple, tuple)

###### Comparison/Relational Operators
> These operators compare the values and  finds the relationship between them.
>These operators returns a boolean value .
>> It includes >,<,>=,<=,==,{!= (or) <>}

In [191]:
a=20,b=30,c=45
a,b,c

SyntaxError: cannot assign to literal (Temp/ipykernel_277276/2602069138.py, line 1)

In [192]:
a,b,c=10,20,30
a,b,c

(10, 20, 30)

In [194]:
#greater than
a>b,10>20

(False, False)

In [196]:
#lesser than
a<b,10<20

(True, True)

In [197]:
#greater than or equal to
a>=b,10>=20

(False, False)

In [198]:
#Lesser than or equal to
a<=b,10<=20

(True, True)

In [200]:
#equal to
a==b,10==20,a==10

(False, False, True)

In [204]:
#not equal to
a!=b,10!=20

(True, True)

In [205]:
a<>b # this is valid in online compiler! try in other python environment

SyntaxError: invalid syntax (Temp/ipykernel_277276/818172447.py, line 1)

In [213]:
if ( a == b ) :
   print("a is equal to b")
else:
   print("a is not equal to b")

a is not equal to b

###### Assignment Operators
> These operators are used to assign values to the variables 
>> It includes =, +=, -=, *=, /=, **=, //=, %=

In [242]:
a,b=1,2
a,b

(1, 2)

In [243]:
a=b # value of b is assigned to a
a,b

(2, 2)

In [244]:
a+=b # a=a+b
a,b

(4, 2)

In [245]:
a-=b  #a=a-b
a,b

(2, 2)

In [246]:
a*=b # a=a*b
a,b

(4, 2)

In [247]:
a/=b #a=a/b
a,b

(2.0, 2)

In [248]:
a//=b #a=a//b
a,b

(1.0, 2)

In [249]:
a**=b #a=a**b
a,b

(1.0, 2)

In [250]:
a%=b  #a=a%b
a,b

(1.0, 2)

##### Bitwise  Operators
> These operators perform operations on each bit
>> it inclued &(bitwise and),|(bitwise or),^(bitwise xor),>>(bitwise right shift),<<(bitwise left shift),~(1's compliment)

In [259]:
a,b=4,8
a,b

(4, 8)

In [260]:
c=a&b
c

0

In [261]:
c=a|b
c

12

In [262]:
c=a^b
c

12

In [265]:
4^2,4|2

(6, 6)

In [266]:
c=a<<b
c

1024

In [276]:
c=a>>b
c

0

In [281]:
a=4 # complement of a is generally represented as -(n+1) ,hence -(a+1)=-(4+1)=-5
~a

-5

> to find 1's complement for a=4
0 1 0 0
1 0 1 1 -> 1's compliment
-------------------------------
1 0 1 1
      1
-----------------------      
 1 1 0 0 -> 2's compliment

In [282]:
a=5
~a

-6

##### Logical operators
> These operators are used to perform logical operations and return a boolean value
>> it includes logical AND (and),logical OR (or) and logical NOT (not)

In [283]:
a=10
b=20
a,b

(10, 20)

In [285]:
# Logical AND
a>b and a<b,a<b and b>a

(False, True)

In [286]:
#Logical OR
a>b or a<b,a<b or b>a

(True, True)

In [287]:
#Logical NOT
not(a<b),not(a>b)

(False, True)

##### Membership Operators
>Python’s membership operators test for membership in a sequence, such as strings, lists, or tuples.
>It returns a boolean value as output
>> There are two types in , not in

In [288]:
sequence=1:10

SyntaxError: invalid syntax (Temp/ipykernel_277276/512163282.py, line 1)

In [289]:
sequence=1,2,3,4,5,6,7,8,9,10
sequence

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [290]:
8 in sequence

True

In [291]:
23 not in sequence

True

In [292]:
23 in sequence

False

In [293]:
1 not in sequence

False

##### Identity Operators
> These operators checks whether two variables holds same value or not and returns the result as a boolean 
>> These operators include is , is not

In [296]:
x=y=100

In [297]:
x is y

True

In [298]:
x is not y

False

In [299]:
Name="Divya"
Username="Divu"

In [301]:
Name is Username

False

In [302]:
Name is not Username

True

Use >>>> shift+tab <<<< to view documentation

In [ ]:
print()

In [306]:
print("The","country",sep="--")

The--country

##### Operator precedence

{} >>>> Paranthesis
** >>>> Exponent
/,*,//,% >>>> Division,multiplication,integer division,modulus
+,- >>>> Addition, subtraction
>,<,>=,<=,==,!= >>>> Relational operators
+=,-=,*=,/=,//=,%=,=,**= >>>> Assignment operators
and, not, or >>>> Logical operators

# Few Important core libraries in Python

Python Library is a collection of functions and subpackages.

##### numpy(Numerical Python)
> _It is the fundamental library in python around which the scientfic computations stack is built.It has many high level mathematical functions for large,multi-dimensional arrays and matrices_

##### pandas
> _This library helps to work with labelled and relational data.It is primarily used for data cleaning,data extraction,data processing,data aggregation and visualization.It is like a spreadsheet in Python_

##### matplotlib
> _This library helps in creating simple and powerful visualizations like line plots,scatter plots,bar charts, and histograms,pie charts,stem plots,contour plots,quiver plots,spectograms,etc.It is easy to apply different formatting styles like title,labels,grids,legends,etc.Creating an image from multiple images is a special feature of this library._

##### seaborn
> _This library is generally used for creating visualization of statistical models.It includes heatmaps and charts that shows better effects for summarized data._

##### scipy(Scientific Python)
> _This library contains modules for linear algebra,optimization,statistics,etc.The functions available in the respective modules provide significant powers to the user with high-level commands and classes for statistical calculations related to data._

##### statsmodels
> _This library enables the user to conduct data exploration,estimate statistical model,perform statistical analysis on the data efficiently_

##### sklearn(Scikit-learn)
> _This library is built upon scipy and hence scipy must be installed before installing this library.This library provides a range of supervised and unsupervised machine learning algorithms like clustering,cross-validation,datasets,dimensionality reduction,feature extraction,feature selection,parameter tuning,manifold learning,generalized linear models,discriminate analysis,Naive-Bayes,lazy methods,neural networks,support vector machines,decision trees,etc._

##### nltk(Natural language toolkit)
> _The nltk library is used for common tasks associated with Natural language processing.The functionality of nltk allows a lot of operations such as text tagging,classification,tokenizing,name entities identification,buliding corpus,stemming,semantic reasoning,etc. All these building blocks allows for building research systems for complex tasks like sentiment analytics,text analytics,summarization etc._

##### keras
> _Keras is a library meant for deep learning and high-level neural networks.It runs on top of TensorFlow,CNTK,or Theano.It allows easy and fast prototyping with its important features of modularity and extensibilty.It supports both convolutional networks and reccurent networks.It also runs on GPU for processing of large data._

To install any library use the below command 
pip install library_name

pip(preferred installer program) is a package-management system written in Python used to install and manage software packages