# Data Structures

>Python has **4** basic **inbuilt** data structures namely **Lists,Dictionary,Tuple, and set**.

>Apart from then there are many **primitive data structures(like int,float,string,etc.,)**

* * *

## Strings in Python

> A string is a sequence of characters.It can be declared in Python using single/double/trible quotes.
>> Strings are **Immutable** i.e.,they cannot be changed

In [16]:
 # Assiging string to a variable
s1="Welcome to the world of Python Programming"
print(s1)
type(s1)

Welcome to the world of Python Programming

str

* * *

## Lists in Python

>A list is a **collection of objects** and basically represents an ordered sequence of data.It is similar to string which is a **collection of characters**.They are just like the arrays declared in other programming language ,but the most powerful thing is that list need not to be always **homogeneous**.

>A single list may contain **strings,integers,as well as objects**.They can also be used in implementing **stacks and queues**

>Lists are **mutable** i.e.,they can be changed.
>Lists are **indexable, iterable, sortable**(list is sortable ONLY IF it contains objects of the SAME datatype.)

### Creating a List
> A list is created by using **square brackets([])** and like any other variable ,a list variable must be assigned before it is used.Each element/object in the list is separed using **comma(,)**.

In [15]:
#Creating a simple list to store values from 1 to 10
L1=[1,2,3,4,5,6,7,8,9,10]
print(L1)
type(L1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list

In [11]:
#Program to add numbers using list.

print("Please enter 5 decimal numbers: ")
total=0

#Creating an empty list.
firstlist=[]

#using for loop to take input of numbers and storing in the above empty list
for i in range(0,5): # range() is used to produce a regular sequence of integers!
    value=float(input("Enter number "+str(i+1)+": "))
    firstlist+=[value]
    total+=value
    
#Displaying the numbers using for loop
print("The numbers entered are: ")
for num in firstlist:
    print(num,end=" ")
    
#Displaying the sum of all elements of a list.
print()
print("The sum of numbers is:",total)

Please enter 5 decimal numbers:
Enter number 1: 1
Enter number 2: 2
Enter number 3: 3
Enter number 4: 4
Enter number 5: 5
The numbers entered are:
1.0 2.0 3.0 4.0 5.0
The sum of numbers is: 15.0

##### Program to create list using list() and range()

In [27]:
# Creating a list of +ve integers with default interval.
list1=list(range(1,11))
print("First list:\n",list1)

# Creating a list of -ve to +ve integers with default interval
list2=list(range(-3,4))
print("Second list:\n",list2)

# Creating a list of numbers in descending order with specified intervals
list3=list(range(20,9,-2))
print("Third list:\n",list3)

# Creating a list of numbers in ascending order with specified intervals
list4=list(range(0,11,2))
print("Fourth list:\n",list4)

First list:
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Second list:
 [-3, -2, -1, 0, 1, 2, 3]
Third list:
 [20, 18, 16, 14, 12, 10]
Fourth list:
 [0, 2, 4, 6, 8, 10]

##### List concatenation

In [29]:
# Program showing list concatenation

list5=[1,2,3,4,5]
list6=[6,7,8,9,10]
print("The class of list5 is ",type(list5))
print("The class of list6 is ",type(list6))

#Concatenating above to lists into a single list
list7=list5+list6
print("The new list is = ",list7)
print("The class of list7 is ",type(list7))

The class of list5 is  <class 'list'>
The class of list6 is  <class 'list'>
The new list is =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The class of list7 is  <class 'list'>

### Accessing list elements

> The list elements can be acessed by using **square brackets with its proper index**.
> <code>list_name[index or order subscript]</code> 
> if a list as **n** elements its first element is accessed using **list_name[0]** and last element is accessed using **list_name[n-1]**

> The list elements can be accessed using the concept of **Indexing and Slicing**.

In [37]:
# Program for accessing list elements 
list8=[11,12,13,14,15]

#Using fo loop to display all elements in the list
for num in range(0,5):
    print('The elements present in the list are:',list8[num])
    
#using for loop and -ve indexing to display elements in list
print("---------------Using Negative indexing--------------")
for val in range(-1,-6,-1):
    print('The elements present in the list are:',list8[val])

The elements present in the list are: 11
The elements present in the list are: 12
The elements present in the list are: 13
The elements present in the list are: 14
The elements present in the list are: 15
---------------Using Negative indexing--------------
The elements present in the list are: 15
The elements present in the list are: 14
The elements present in the list are: 13
The elements present in the list are: 12
The elements present in the list are: 11

In [46]:
#Positive indexing
print(list8[4],list8[0])
#negative indexing
print(list8[-1],list8[-5])

15 11
15 11

In [58]:
# Program for accessing elements in a heterogeneous list
list9=['a12.56',-367,["India","USA","UK","China"],"countries"]

# using for loop display all elements of the loop
for val in range(0,4):
    print("The element",val+1,"is: ",list9[val])
    
#accessing individual item of a nested list.
for x in range(0,4):
    print("List item of nested list is:",list9[2][x])

The element 1 is:  a12.56
The element 2 is:  -367
The element 3 is:  ['India', 'USA', 'UK', 'China']
The element 4 is:  countries
List item of nested list is: India
List item of nested list is: USA
List item of nested list is: UK
List item of nested list is: China

In [60]:
# Accessing element which is out of bounds leads to an error!!

print(list9[5])

IndexError: list index out of range

##### Slicing

In [62]:
#Program for showing the use of list slicing

list10=[0,100,200,300,400,500,600,700,800,900,1000]

#Elements between the starting and ending index are displayed.
print("Elements from 3rd index to 6th index: ",list10[3:6])

#An empty list is returned if user enters a negative value for index
print("Elements starting from negative index not shown: ",list10[-3:6])

#The start value defaults to 0 ,if the beginning argument is missing
print("Elements starting from 1st to 5th index: ",list10[:5])

#The end value is missing ,it defaults to the length of the list.
print("Elements starting from 5th index to the last index: ",list10[5:])

#If the end value is greater than length of list is considered length of list.
print('Elements from 6th index to till the largest index: ',list10[6:12])

#if the starting value is greater than ending value,it returns a empty list!
print("Elements from higher starting index and lower ending index",list10[4:0])

Elements from 3rd index to 6th index:  [300, 400, 500]
Elements starting from negative index not shown:  []
Elements starting from 1st to 5th index:  [0, 100, 200, 300, 400]
Elements starting from 5th index to the last index:  [500, 600, 700, 800, 900, 1000]
Elements from 6th index to till the largest index:  [600, 700, 800, 900, 1000]
Elements from higher starting index and lower ending index []

##### List modification

In [65]:
# Program modifying the existing elements in a list
list11=[0,0.5,1,1.5,2,2.8,3,3.5,4,4.23,5]
print('The original list is: ',list11)
list11[5]=2.5
list11[9]=4.5
print('The modified list is:',list11)

The original list is:  [0, 0.5, 1, 1.5, 2, 2.8, 3, 3.5, 4, 4.23, 5]
The modified list is: [0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5]

In [84]:
# program for adding,removing and modifying list items using slicing 

list12=[[12,24],"PYTHON",36,48,60,"C"]
print("Original list= ",list12)

#Replacing the desired list values
list12[2:6]=["A","B","C","D"]
print("The list after replacing the values = ",list12)

#inserting multiple items in 1st index
list12[1:1]=["Java","C","C++"]
print("The elements of the list after inserting multiple values at 1st index= ",list12)

#Deleting some elements from the list
list12[1:5]=[]
print("List after deleting some elements from the list= ",list12)

Original list=  [[12, 24], 'PYTHON', 36, 48, 60, 'C']
The list after replacing the values =  [[12, 24], 'PYTHON', 'A', 'B', 'C', 'D']
The elements of the list after inserting multiple values at 1st index=  [[12, 24], 'Java', 'C', 'C++', 'PYTHON', 'A', 'B', 'C', 'D']
List after deleting some elements from the list=  [[12, 24], 'A', 'B', 'C', 'D']

### Functions for List
> There are many in-built functions for lists in python like **insert(),copy(),len(),count(),index(),max(),min(),remove(),append(),sort(),sum(),etc.**

In [134]:
# Program to demonstrate functions on lists 

mylist=[1,1,2,2,3,3,3,4,4,4,4,5,5,5,5,5,6,6,6,6,6,6,7,7,7,7,7,7,7,8,8,8,8,8,8,8,8,9,10]
print(mylist)

[1, 1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 10]

In [135]:
# max() determines the maximum value in the list
print("The maximum value in the list is= ",max(mylist))

# min() determines the minimum value in the list
print("The minimum value in the list is= ",min(mylist))

# len() determines the length of the list
print("The length of the list is= ",len(mylist))

The maximum value in the list is=  10
The minimum value in the list is=  1
The length of the list is=  39

In [136]:
# count() returns number of times given element appears in the list
print(mylist)
print()
print("Number of times 9 occured in the list",mylist.count(9))

[1, 1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 10]

Number of times 9 occured in the list 1

In [137]:
# index() returns the lowest index of an element in the list
# it produces the error if the element not present in the list and does not modify the list
print(mylist)
print()
print("The first position of 5 in list is= ",mylist.index(5))

[1, 1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 10]

The first position of 5 in list is=  11

In [138]:
# remove() removes 1st occurence of element from the list
# produces error if element not found and modifies the list
print(mylist)
print()
mylist.remove(2)
print("The new list after removing an element from the list:\n",mylist)

[1, 1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 10]

The new list after removing an element from the list:
 [1, 1, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 10]

In [139]:
# append() adds new elements to the end of the list,Modifies the list
print(mylist)
print()
mylist.append(11) #append() takes only 1 argument at a time
print("The new list after appending elements to the list=\n",mylist)

[1, 1, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 10]

The new list after appending elements to the list=
 [1, 1, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 10, 11]

In [140]:
# insert() inserts new element before the element at a given index
# increases the length of the list by 1 and modifies the list
print(mylist)
print()
mylist.insert(2,18)
print("The new list after inserting an element to the list:\n",mylist)
print()
print("The length of the new list=",len(mylist))

[1, 1, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 10, 11]

The new list after inserting an element to the list:
 [1, 1, 18, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 10, 11]

The length of the new list= 40

In [141]:
# pop() returns elements at specified index.
#if argument is not mention the function returns the last element
print(mylist)
print("The 6th element of the list=",mylist.pop(7))
print('The last element of the list=',mylist.pop())

[1, 1, 18, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 10, 11]
The 6th element of the list= 4
The last element of the list= 11

In [148]:
# reverse() physically reverses the elements in the list
print(mylist)
mylist.reverse()
print("Reversed list=\n",mylist)

[1, 1, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 10, 18]
Reversed list=
 [18, 10, 9, 8, 8, 8, 8, 8, 8, 8, 8, 7, 7, 7, 7, 7, 7, 7, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 4, 4, 4, 3, 3, 3, 2, 1, 1]

In [149]:
# sorted() sorts the elements in the list in ascending order
print(mylist)
print("The sorted list=\n",sorted(mylist))

[18, 10, 9, 8, 8, 8, 8, 8, 8, 8, 8, 7, 7, 7, 7, 7, 7, 7, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 4, 4, 4, 3, 3, 3, 2, 1, 1]
The sorted list=
 [1, 1, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 10, 18]

In [150]:
# sort() sorts the elemets of the list in ascending order
print(mylist)
mylist.sort()
print('The sorted list=\n',mylist)

[18, 10, 9, 8, 8, 8, 8, 8, 8, 8, 8, 7, 7, 7, 7, 7, 7, 7, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 4, 4, 4, 3, 3, 3, 2, 1, 1]
The sorted list=
 [1, 1, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 10, 18]

In [152]:
# copy() creates a new list similar to original list
mylist2=mylist.copy()
print(mylist2)

[1, 1, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 10, 18]

In [155]:
# extend() helps to to add a list to the existing list
mylist3=[1,2,3,4,5]
mylist4=list([6,7,8])
mylist3.extend(mylist4)
print("The extended list=\n",mylist3)

The extended list=
 [1, 2, 3, 4, 5, 6, 7, 8]

In [156]:
# clear() helps to delete all elements in the list
mylist3.clear()
print("The list after clearing all the elements is:",mylist3)

The list after clearing all the elements is: []

##### Repeating elements using "*" operator

In [186]:
# Program for repeating elements using "*" operator 

#Repeating a list directly in the print statement
print("Repeatition of list elements:",[1,2,3,4]*2)

Repeatition of list elements: [1, 2, 3, 4, 1, 2, 3, 4]

In [190]:
#Repeating the list by specifying list name 
mylist5=[100,200,300]
print("Repeating mylist 3 times",mylist5*3)

Repeating mylist 3 times [100, 200, 300, 100, 200, 300, 100, 200, 300]

In [191]:
#Repeating a list before using the print statement
newlist=mylist5*2
print("newlist=",newlist)

newlist= [100, 200, 300, 100, 200, 300]

In [198]:
mylist6=[300,30,56,98,56,34,21]
mylist6

[300, 30, 56, 98, 56, 34, 21]

In [205]:
mylist6*0

[]

##### Determing the existence of an element using in operator

In [193]:
my_list=list(range(2,22,2))
my_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [194]:
18 in my_list

True

In [195]:
90 in my_list

False

In [196]:
1 not in my_list

True

In [197]:
10 not in my_list

False

### Programing with List

In [212]:
# Program to print numbers between 100 and 200 separated by comma
# The number should be divisible by 6 but are not a multiple of 5

numlist=[]
for i in range(100,201):
    if(i%6==0) and (i%5!=0):
        numlist.append(str(i))
print("The elements are:\n",",".join(numlist))

The elements are:
 102,108,114,126,132,138,144,156,162,168,174,186,192,198

In [215]:
# Program to print horizontal chart according to the numbers in list

datalist=[]
num=int(input("Enter the total number of observations: "))

#for loop for enetering values 
for i in range(1,num+1):
    val=int(input("Enter the value: "))
    datalist.append(val)
    
#another for loop for printing asterisk

for j in range(len(datalist)):
    print(datalist[j]*'*')

Enter the total number of observations: 10
Enter the value: 10
Enter the value: 9
Enter the value: 8
Enter the value: 7
Enter the value: 6
Enter the value: 5
Enter the value: 4
Enter the value: 3
Enter the value: 2
Enter the value: 1
**********
*********
********
*******
******
*****
****
***
**
*

In [217]:
# Program to fectch elements which are greater than 100 from a list

amountlist=[]
newlist=[]
num=int(input("Enter the number of products: "))

#Adding numbers to the existing list
for i in range(1,num+1):
    val=int(input('Enter the value : '))
    amountlist.append(val)
    
#Adding numbers>100 to the new list
for j in range(len(amountlist)):
    if amountlist[j]>100:
        newlist.append(amountlist[j])
        
print("newlist=",newlist)

Enter the number of products: 5
Enter the value : 1000
Enter the value : 90
Enter the value : 500
Enter the value : 200
Enter the value : 53
newlist= [1000, 500, 200]

In [228]:
# Program to determine numbers between 151 and 250 with each digit as even number

values=[]
for num in range(151,251):
    s=str(num) #the num is first converted to string because we want to access each digit using the concept of indexing
    if(int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0): #now each digit is converted to int using int()
                             values.append(s)
print("The elements are :\n",",".join(values))

The elements are :
 200,202,204,206,208,220,222,224,226,228,240,242,244,246,248

In [233]:
# Program to determine numbers between 2000 and 2100 with each digit as even number

values=[]
for num in range(2000,2101):
    s=str(num) #the num is first converted to string because we want to access each digit using the concept of indexing
    if(int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0) and (int(s[3])%2==0): #now each digit is converted to int using int()
                             values.append(s)
print("The elements are :\n",",".join(values))

The elements are :
 2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088

In [235]:
# Program to sort multiple strings

namelist=[]
num=int(input("Enter the number of countries: "))

#Adding elements to the list using for loop
for i in range(1,num+1):
    name=input("Enter the name of the country: ")
    namelist.append(name)
    
#sorting and displaying the newlist outside the for loop
namelist.sort()
print("The sorted order is: ",",".join(namelist))

Enter the number of countries: 5
Enter the name of the country: India
Enter the name of the country: USA
Enter the name of the country: UK
Enter the name of the country: Russia
Enter the name of the country: South Africa
The sorted order is:  India,Russia,South Africa,UK,USA

In [236]:
# Program to print even numbers in a range in the form of a list

valueslist=[]
start=int(input("Enter the starting number: "))
end=int(input("Enter the ending number: "))

#Adding elements to the list
for i in range(start,end):
    if i%2==0:
        valueslist.append(i)

print(valueslist)

Enter the starting number: 1
Enter the ending number: 10
[2, 4, 6, 8]

In [241]:
# Program to convert GMT(Greenwich mean time) to IST(Indian standard time)

# Note: IST is 5hours,30min ahead of GMT

day=input("Enter the day: ")
hours=int(input("Enter the hours: "))
minute=int(input("Enter the minutes: "))

#Creating a list of days 
daylist=['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']

#Creating a while loop to determine the index of the day in the list
i=0
flag=False
while flag==False:
    if day==daylist[i]:
        idx=i
        flag=True
    i=i+1
    
# Adding 30 minutes to existing minutes
newminute=minute+30
extrahr=0
if(newminute>=60):
    extrahr=1
    newminute=newminute-60
    
#Adding 5 hours to existing hours
newhours=hours+extrahr+5
if(newhours>24):
    newday=daylist[idx+i]
    newhours=newhours-24
else:
    newday=day
print("IST Time: ",newday,newhours,":",newminute)

Enter the day: Sunday
Enter the hours: 23
Enter the minutes: 5
IST Time:  Monday 4 : 35

In [243]:
# Program to do cyclic shift of list elements
userlist=[]
newuserlist=[]

#Creating lists
num=int(input("Enter the number of list elements: "))
for i in range(0,num):
    value=input("Enter list item: ")
    userlist.append(value)
    newuserlist.append(" ")
print("Original list is: \n",userlist)

#Creating new list by shifting the list by a number
shift=int(input("Enter number of places to shift: "))
for i in range(0,num):
    if(i+shift)>=num:
        newuserlist[i-shift+1]=userlist[i]
    else:
        newuserlist[i+shift]=userlist[i]
print("Shifted new list is:\n",newuserlist)

Enter the number of list elements: 5
Enter list item: India
Enter list item: USA
Enter list item: UK
Enter list item: China
Enter list item: Russia
Original list is:
 ['India', 'USA', 'UK', 'China', 'Russia']
Enter number of places to shift: 3
Shifted new list is:
 ['UK', 'China', 'Russia', 'India', 'USA']

In [249]:
# Program to determine whether the number is perfect number.

num=int(input("Enter the number: "))
sum=1
factor_list=[1]

# Creating a list of all factors
for i in range(2,num):
    if num%i==0:
        factor_list.append(i)
        sum=sum+i
print("The factors are: ",factor_list)

# Checking the condition for perfect number
if sum==num:
    print("It is a perfect number")
else:
    print("It is not a perfect number")

Enter the number: 6
The factors are:  [1, 2, 3]
It is a perfect number

Note:
Perfect number: A number is said to be perfect number if it is equal to its sum of its good factors
Example : 6--> The factors of 6 are 1,2,3-> 1+2+3=6

In [252]:
# Program to determine number of 2 digit prime numbers from a number.
num=[]
ans=0
number=int(input("Enter the number:"));

#Creating a list of all digits of the number.
while(number>0):
    value=number%10
    num.append(value)
    number=number//10
    
#Creating number from 2 adjacent digits.
for i in range(len(num)-1,0,-1):
    flag=False
    newnum=num[i]*10+num[i-1]
    
    #Determine whether the number is prime or not 
    for j in range(2,(newnum//2)):
        if (newnum%j==0):
            flag=True
            
    #Displaying the result
    if(flag==False):
        print("The number ",newnum,"is a prime number")
        ans=ans+1
    else:
        print("The number",newnum,"is not a prime number")
        
#Determining total number of prime numbers
print("Total number of two digit prime numbers are: ",ans)

Enter the number:1234
The number 12 is not a prime number
The number  23 is a prime number
The number 34 is not a prime number
Total number of two digit prime numbers are:  1

# Tuples

> A tuple is a **collection objects separated by comma insdie the paranthesis**.Tuples are represented by **parantheses{()}**.The sequence of values stored in a tuple can be of **any type**,and they are indexed by integers.

> In real-world scenario ,tuples are generally used to **store data that do not require any modifications**,but we need to do only **retrieval of data**.

>Tuples are **immutable, indexable, iterables, sortable**(there is no built-in method for sorting)

>Tuples are used as **reference lists** they are  **read-only lists**.

### Creating a Tuple

> A tuple in python is generally created using **tuple()** function or by writing **elements separated by comma inside paranthesis**. An **empty tuple** is creating using **empty paranthesis {()}**.Paranthesis are **optional**,they are usually used for better understanding.

##### Creating tuples using different ways

In [253]:
#Creating an empty tuple
mytuple1=()
print(type(mytuple1))
print("An empty tuple is : ",mytuple1)

<class 'tuple'>
An empty tuple is :  ()

In [257]:
#Creating a one element tuple by adding a comma at the last
mytuple2=(12,)
print("A tuple with single element is:",mytuple2)

A tuple with single element is: (12,)

In [258]:
# Creating a tuple with multiple elements
mytuple3=(1,2,3,4,5,6)
print('A tuple with multiple elements: ',mytuple3)

A tuple with multiple elements:  (1, 2, 3, 4, 5, 6)

##### Creating a tuple using tuple() and range()

In [260]:
mytuple4=tuple(range(0,100,5))
print("Tuple created using tuple() and range() functions:\n ",mytuple4)

Tuple created using tuple() and range() functions:
  (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95)

##### Creating a tuple from a list

In [261]:
my_list=[1,10,20,30,40,50]
mytuple5=tuple(my_list)
print("Tuple created using list:",mytuple5)

Tuple created using list: (1, 10, 20, 30, 40, 50)

##### Concatenation of tuples

In [263]:
# concatenation of tuples to create a new tuple
mytuple6=mytuple5+mytuple4
print("The new tuple created by concatenation is=\n",mytuple6)

The new tuple created by concatenation is=
 (1, 10, 20, 30, 40, 50, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95)

### Accessing Tuple elements

> The elements of tuples are also accessed using the concept of **Indexing and Slicing**.Like in lists **square brackets** are used for accessing index elements in tuples

In [269]:
# Program to access elements in a heterogeneous list

my_tuple=(12,24,36,"A","B","C",(-1,-2,-3,-4),("Apple","Orange"),"2a34",-145.87,105.45)
print(my_tuple)

(12, 24, 36, 'A', 'B', 'C', (-1, -2, -3, -4), ('Apple', 'Orange'), '2a34', -145.87, 105.45)

In [270]:
# using for loop to display 1st 4 elements of my_tuple
for i in range(0,4):
    print("The 1st 4 elements of my_tuple are: ",my_tuple[i])

The 1st 4 elements of my_tuple are:  12
The 1st 4 elements of my_tuple are:  24
The 1st 4 elements of my_tuple are:  36
The 1st 4 elements of my_tuple are:  A

In [281]:
# Accessing individual elements from a nested tuple 
print("my_tuple[6][0]=",my_tuple[6][0],"\nmy_tuple[-1]=",my_tuple[-1],"\nmy_tuple[-4][-2]=",my_tuple[-4][-2],"\nmy_tuple[6][3]=",my_tuple[6][3])

my_tuple[6][0]= -1
my_tuple[-1]= 105.45
my_tuple[-4][-2]= Apple
my_tuple[6][3]= -4

##### Indexing and Slicing in Tuples

In [282]:
my_tuple[0:3] # the elements from 0th position to 2nd position

(12, 24, 36)

In [284]:
print("my_tuple[0:]=",my_tuple[0:]) #prints all the elements

my_tuple[0:]= (12, 24, 36, 'A', 'B', 'C', (-1, -2, -3, -4), ('Apple', 'Orange'), '2a34', -145.87, 105.45)

In [285]:
print("my_tuple[5:25]=",my_tuple[5:25]) #prints all the elements from 5th position to the end of the tuple

my_tuple[5:25]= ('C', (-1, -2, -3, -4), ('Apple', 'Orange'), '2a34', -145.87, 105.45)

In [288]:
print("my_tuple[6:8]=",my_tuple[6:8]) #prints all the elements from 6th position to 7th position

my_tuple[6:8]= ((-1, -2, -3, -4), ('Apple', 'Orange'))

In [289]:
print("my_tuple[-3:2]=",my_tuple[-3:2]) #negative indexing gives a empty tuple

my_tuple[-3:2]= ()

In [290]:
print("my_tuple[-2:-5]=",my_tuple[-2:-5]) #negative indexing gives a empty tuple

my_tuple[-2:-5]= ()

In [294]:
#starting at higher index and ending in lower index leads to
my_tuple[4:1] # leads to empty list

()

In [291]:
print("my_tuple[:5]=",my_tuple[:5]) #by default it considers staring position as 0

my_tuple[:5]= (12, 24, 36, 'A', 'B')

In [292]:
print("my_tuple[8:]=",my_tuple[8:]) #by default it considers last element as the ending position if it all not mentioned while indexing

my_tuple[8:]= ('2a34', -145.87, 105.45)

### Functions for Tuples

>The main difference between tuples and lists are that **tuples cannot be modified unlike lists**.
>We can perform all functions on tuples that are discussed in lists except the functions which are used for modifications
>> Functions used in tuples are **sum(),min(),max(),len(),count(),index(),sorted(),etc.**.

In [297]:
print(my_tuple)

(12, 24, 36, 'A', 'B', 'C', (-1, -2, -3, -4), ('Apple', 'Orange'), '2a34', -145.87, 105.45)

In [301]:
len(my_tuple)

11

In [302]:
my_tuple1=(1,12,63,4,4,4,5,66,78,90,88,91,90,144,100,198,100)
print(my_tuple1)

(1, 12, 63, 4, 4, 4, 5, 66, 78, 90, 88, 91, 90, 144, 100, 198, 100)

In [303]:
len(my_tuple1)

17

In [306]:
min(my_tuple1)

1

In [307]:
max(my_tuple1)

198

In [310]:
sorted(my_tuple1)

[1, 4, 4, 4, 5, 12, 63, 66, 78, 88, 90, 90, 91, 100, 100, 144, 198]

In [312]:
my_tuple1.count(4),my_tuple1.count(100),my_tuple1.count(66)

(3, 2, 1)

In [313]:
my_tuple1.index(4)

3

In [328]:
sum(my_tuple1)

1138

In [326]:
whos #gives info of the stored data!!

Variable      Type        Data/Info
-----------------------------------
L1            list        n=10
L2            list        n=0
L3            list        n=0
a             NoneType    None
amountlist    list        n=5
ans           int         1
datalist      list        n=10
day           str         Sunday
daylist       list        n=7
end           int         10
entries       float       12.56
extrahr       int         0
factor_list   list        n=3
firstlist     list        n=5
flag          bool        True
hours         int         23
i             int         3
idx           int         0
j             int         16
list1         list        n=10
list10        list        n=11
list11        list        n=11
list12        list        n=5
list2         list        n=7
list3         list        n=6
list4         list        n=6
list5         list        n=5
list6         list        n=5
list7         list        n=10
list8         list        n=5
list9         list        n=4
minute        int         5
my_list       list        n=6
my_tuple      tuple       n=11
my_tuple1     tuple       n=17
mylist        list        n=38
mylist2       list        n=38
mylist3       list        n=0
mylist4       list        n=3
mylist5       list        n=3
mylist6       list        n=7
mytuple1      tuple       n=0
mytuple2      tuple       n=1
mytuple3      tuple       n=6
mytuple4      tuple       n=20
mytuple5      tuple       n=6
mytuple6      tuple       n=26
name          str         South Africa
namelist      list        n=5
newday        str         Monday
newhours      int         4
newlist       list        n=3
newminute     int         35
newnum        int         34
newuserlist   list        n=5
num           list        n=4
number        int         0
numlist       list        n=14
s             str         2100
s1            str         Welcome to the world of Python Programming
shift         int         3
start         int         1
total         float       15.0
tuple2        tuple       n=3
userlist      list        n=5
val           int         53
value         int         1
values        list        n=25
valueslist    list        n=4
x             int         3

##### Program for repetition("*") and determining existence("in") in tuple

In [1]:
# Creating a repeating tuple directly in the print statement
print("Repetition of tuple:\n",(1,2,3,4)*3)

Repetition of tuple:
 (1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [2]:
# Creating a tuple and reptiting the tuple in the print statement
T1=(10,20,30,56,78)
print("Repeatition of tuple elements: ",T1*2)

Repeatition of tuple elements:  (10, 20, 30, 56, 78, 10, 20, 30, 56, 78)

In [5]:
#Repeating the tuple and then using the print statement to print
T2=T1*4
print("T2=",T2)

T2= (10, 20, 30, 56, 78, 10, 20, 30, 56, 78, 10, 20, 30, 56, 78, 10, 20, 30, 56, 78)

In [6]:
# using "in" to determine whether the element present in the list or not 

100 in T2

False

In [7]:
10 in T1

True

### Programming with Tuple

In [17]:
# Program to determine minimum element from a tuple 

Tuple_1=(12,41,1,23,78,90,45,81,23)
print("The minimum element in the tuple is =",min(Tuple_1))

#Or

minimum=Tuple_1[0]
#Executing a for loop to determine minimum element
for k in range(len(Tuple_1)):
    if Tuple_1[k]<minimum:
        minimum=Tuple_1[k]
        
print("The minimum element is=",minimum)

The minimum element in the tuple is = 1
The minimum element is= 1

In [19]:
maximum=Tuple_1[0]
#Executing a for loop to determine minimum element
for k in range(len(Tuple_1)):
    if Tuple_1[k]>maximum:
        maximum=Tuple_1[k]
        
print("The maximum element is=",maximum)

The maximum element is= 90

In [20]:
# Program to compare two tuples

tuple1=("C","C++","Java","Python")
tuple2=("C","C++","c#")

for i in tuple1:
    for j in tuple2:
        if i==j:
            print("Both the tuples have the common name as",i)

Both the tuples have the common name as C
Both the tuples have the common name as C++

In [25]:
t1=(1,3,5,7,9)
t2=(2,4,3,6,0,7)

for i in t1:
    for j in t2:
        if i==j:
            print("Both the tuples have",i,"as common value")

Both the tuples have 3 as common value
Both the tuples have 7 as common value

# Dictionary

> A unique data structure which is not available in other programming language but available in Python is called a Dictionary.It is cosidered as **king of data structures** in Python because it is the only standard mapping type.

> A dictionary has a **group of elements which are arranged in the form of key-value pair**.Thus,there are three special objects for dictionary: **keys,values,and items**.These objects provide a different view of the dictionary entries and they change when the dictionary changes.In dictionary,the first element is considered as **"key"** and the following element is taken as its **value**.A dictionary basically **maps keys to values**.

> It is important to note here that **keys should be hashable objects**,while **values can be arbitrary**.It is also important to note here that **keys of a dictionary should be unique**.

>Dictionaries are **mutable, indexable, iterables, non-sortable**(because they are NOT indexable).They are unordered collection of key-value pairs... the keys are unique.

### Creating a Dictionary
> Dictionary is created and represented using **curly braces{}**.The **dict()** function is also used to create a dictionary

##### Program to create dictionary in 5 different ways

In [2]:
#Creating dictionary through first approach

mydict1=dict({'Country':'India','Capital':'New Delhi'})
print("Creating dictionary through first approach (Using dict()):\n",mydict1)

Creating dictionary through first approach (Using dict()):
 {'Country': 'India', 'Capital': 'New Delhi'}

In [3]:
#Creating dictionary through second approach

mydict2={'Country':'India','Capital':'New Delhi'}
print("Creating dictionary through second approach:\n",mydict2)

Creating dictionary through second approach:
 {'Country': 'India', 'Capital': 'New Delhi'}

In [5]:
#Creating dictionary through third approach

mydict3=dict(Country='India',Capital='New Delhi')
print("Creating dictionary through third approach (Using dict()):\n",mydict3)

Creating dictionary through third approach (Using dict()):
 {'Country': 'India', 'Capital': 'New Delhi'}

In [6]:
#Creating dictionary through fourth approach

mydict4=dict([('Country','India'),('Capital','New Delhi')])
print("Creating dictionary through first approach (Using dict()):\n",mydict4)

Creating dictionary through first approach (Using dict()):
 {'Country': 'India', 'Capital': 'New Delhi'}

In [8]:
#Creating dictionary through fifth approach

mydict5=dict(zip(['Country','Capital'],['India','New Delhi']))
print("Creating dictionary through fifth approach (Using dict() and zip()):\n",mydict5)

Creating dictionary through fifth approach (Using dict() and zip()):
 {'Country': 'India', 'Capital': 'New Delhi'}

In [9]:
# Determine whether all five names create the same dictionary
print("Does all the ways create the same dictionary:",mydict1==mydict2==mydict3==mydict4==mydict5)

Does all the ways create the same dictionary: True

In [10]:
type(mydict1)

dict

In [3]:
# program to create a dictionary using range() function
mydict6=dict(zip('PYTHON',range(6)))
mydict6

{'P': 0, 'Y': 1, 'T': 2, 'H': 3, 'O': 4, 'N': 5}

NOTE: Dictionary is an exclusive data type available only in Python and has an extensive use for data analytics when mapping is required

### Accessing Dictionary Elements
> Unlike list and tuple,indexing and slicing cannot be used to access elements of a dictionary.The **items()** function returns all the **key-vaue pairs** in the dictionary,the **keys()** function returns **all the keys** in the dictionary,and the **values()** function returns **all the values** in the dictionary.

##### Program for accessing dictionary elements

In [56]:
book_dict={'Author':'William Shakespeare','Book':'Renaissance Man','Publisher':'Edward Blount'}
book_dict

{'Author': 'William Shakespeare',
 'Book': 'Renaissance Man',
 'Publisher': 'Edward Blount'}

In [42]:
#Displaying keys alone in the dictionary
book_dict.keys()

dict_keys(['Author', 'Book', 'Publisher'])

In [26]:
#Displaying values alone in the dictionary
book_dict.values()

dict_values(['William Shakespeare', 'Renaissance Man', 'Edward Blount'])

In [43]:
#Displaying key-value pairs in the dictionary
book_dict.items()

dict_items([('Author', 'William Shakespeare'), ('Book', 'Renaissance Man'), ('Publisher', 'Edward Blount')])

In [44]:
#Displaying the values w.r.t specified key
print(book_dict['Author'],book_dict['Book'],book_dict['Publisher'],sep='\n')

William Shakespeare
Renaissance Man
Edward Blount

In [45]:
# cannot access using values details!
book_dict['Willian shakespeare']

KeyError: 'Willian shakespeare'

### Functions for Dictionary

>We can add new key-value pair using different ways in a dictonary in Python.It is also possible to modify the existing values of keys 
>The list of functions available for Dictionary are **len(),clear(),pop(),get(),sorted(),copy(),etc.

##### Program for using functions for dictionary

In [57]:
#Adding of new key-value pair to dictionary using 1st approach
book_dict['Language']='Early Modern English'
book_dict

{'Author': 'William Shakespeare',
 'Book': 'Renaissance Man',
 'Publisher': 'Edward Blount',
 'Language': 'Early Modern English'}

In [58]:
#Adding of new key-value pair to dictionary using 2nd approach
book_dict.update({'Genre':'English Renaissance theatre'})
book_dict

{'Author': 'William Shakespeare',
 'Book': 'Renaissance Man',
 'Publisher': 'Edward Blount',
 'Language': 'Early Modern English',
 'Genre': 'English Renaissance theatre'}

In [71]:
#Adding of new key-value pair to dictionary using 3rd approach
book_dict.setdefault('Nick Name','Bard of Avon')
book_dict

{'Author': 'William Shakespeare',
 'Book': 'Renaissance Man',
 'Publisher': 'Thriftbooks',
 'Language': 'Early Modern English',
 'Genre': 'English Renaissance theatre',
 'Nick Name': 'Bard of Avon'}

##### Modification

In [72]:
#Modification in value of the key named "Publisher"
book_dict['Publisher']="Thriftbooks"
book_dict

{'Author': 'William Shakespeare',
 'Book': 'Renaissance Man',
 'Publisher': 'Thriftbooks',
 'Language': 'Early Modern English',
 'Genre': 'English Renaissance theatre',
 'Nick Name': 'Bard of Avon'}

In [73]:
book_dict.get('Author') # get() is used to fetch the value of a specified key

'William Shakespeare'

In [74]:
len(book_dict)

6

In [75]:
sorted(book_dict) #sorted() sorts keys in alphabetical order

['Author', 'Book', 'Genre', 'Language', 'Nick Name', 'Publisher']

In [76]:
book_dict.pop('Nick Name') #pop() is used to remove a particular key

'Bard of Avon'

In [77]:
#copy() is used to copy a dictionary in another dictionary
New_book_dict=book_dict.copy()
New_book_dict

{'Author': 'William Shakespeare',
 'Book': 'Renaissance Man',
 'Publisher': 'Thriftbooks',
 'Language': 'Early Modern English',
 'Genre': 'English Renaissance theatre'}

In [80]:
# in is used to determine the presence of a particular key in the dictionary
'Book' in book_dict,'Nick Name' in book_dict

(True, False)

In [81]:
#clear() is used to clear all the data in the dictionary
New_book_dict.clear()

In [82]:
New_book_dict # it gives an empty dictionary which means all the key-value pairs in the dictionary are deleted !

{}

### Programming in Dictionary

In [91]:
# Program to create a dictionary for a number and its square

mydict=dict()
end=int(input("Enter the last number"))

#Adding elements to the dictionary using for loop
for i in range(0,end+1):
    mydict[i]=i*i
    
#Displaying the dictionary outside the loop
print(mydict)

Enter the last number5
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [93]:
# Program to determine total amount for all the available products in the dictionary

products={'Pen':5,'Pencil':10,'Eraser':2,'Scale':5,'Sharpner':5,'Book':100}

print("The details of the product are:\n",products.items())
print("The total amount for all the products is=",sum(products.values()))

The details of the product are:
 dict_items([('Pen', 5), ('Pencil', 10), ('Eraser', 2), ('Scale', 5), ('Sharpner', 5), ('Book', 100)])
The total amount for all the products is= 127

In [96]:
# Program to determine number of upper and lower case letters in sentence
mydict={'upper':0,'lower':0}
mystring=input("Enter the string containing upper and lower case letters:")

for x in mystring:
    if x.isupper():
        mydict['upper']+=1
    elif x.islower():
         mydict['lower']+=1
    else:
        pass
    
print("Total number of upper case letters=",mydict['upper'])
print("Total number of lower case letters=",mydict['lower'])

Enter the string containing upper and lower case letters:Python is a beautiful Programming Language!
Total number of upper case letters= 3
Total number of lower case letters= 34

In [100]:
'python'.islower() #islower() is used to check whether the string is in lower case

True

In [101]:
'PYTHON'.isupper() #isupper() is used to check whether the string is in upper case

True

In [105]:
# Program to calculate the number of letters and numbers in a string
mystring=input("Enter the Alpanumeric string: ")
mydict1={"numbers":0,'letters':0}

for x in mystring:
    if x.isdigit():
        mydict1['numbers']+=1
    elif x.isalpha():
        mydict1['letters']+=1
    else:
        pass
    
print("Total number of numbers in the string are:",mydict1['numbers'])
print("Total number of letters in the string are:",mydict1['letters'])

Enter the Alpanumeric string: Python 3
Total number of numbers in the string are: 1
Total number of letters in the string are: 6

In [106]:
# Finding the total number of words and the longest word
count=0
word=" "
dict_words={}

#Prompting the user to enter the words,for ending enter stop
while(word!="stop"):
    word=input("Enter the word of your wish:")
    if (word!='stop'):
        count=count+1
        #Adding the words to the dictionary
        dict_words[count]=len(word)
        
#Displaying the result
print("The number of words is: ",count)
print("The length of all words is: ",dict_words.items())
print("The maximum length is=",max(dict_words.values()))

Enter the word of your wish:Python
Enter the word of your wish:is
Enter the word of your wish:a
Enter the word of your wish:Lovely
Enter the word of your wish:Programming
Enter the word of your wish:Language
Enter the word of your wish:stop
The number of words is:  6
The length of all words is:  dict_items([(1, 6), (2, 2), (3, 1), (4, 6), (5, 11), (6, 8)])
The maximum length is= 11

In [107]:
# program to sort dictionary items by values

organisation={'Wipro':5000,'CapeGemini':7000,'TCS':8000,'Accenture':2000,'IBM':1500,'Amazon':25000}
print("The dictonary items are",organisation.items())

#Sorting in ascending order
print("Ascending order of names of organisation")
for key,value in sorted(organisation.items(),reverse=True):
    print("The share price of",key,"is = ",value)

The dictonary items are dict_items([('Wipro', 5000), ('CapeGemini', 7000), ('TCS', 8000), ('Accenture', 2000), ('IBM', 1500), ('Amazon', 25000)])
Ascending order of names of organisation
The share price of Wipro is =  5000
The share price of TCS is =  8000
The share price of IBM is =  1500
The share price of CapeGemini is =  7000
The share price of Amazon is =  25000
The share price of Accenture is =  2000

# Set

>In python,set is an **unordered collection of data type that is iterable,mutable and has no duplicate elements**.
In short set is a **unordered collection of UNIQUE items/objects**.
The order of elements in a set is undefined though it may consist of various elements.

>The major advantage of using a set,as opposed to list,is that it has a **highly optimized method for checking whether a specific element is contained in the set**

>Set is **mutable, non-indexable, iterables, non-sortable**(because they are NOT indexable)

### Creating sets
> Sets are written using **Curly braces** each element separated by **comma**.
> Sets are also created using **set() constructor**,but it should consist only **1 element**.

In [118]:
set1={'Apple','Orange','Grapes','Pineapple'}
set1

{'Apple', 'Grapes', 'Orange', 'Pineapple'}

In [119]:
type(set1)

set

In [121]:
#Sets cannot have duplicate values 
set1={'Apple','Orange','Grapes','Pineapple','Orange','Grapes'}
set1

{'Apple', 'Grapes', 'Orange', 'Pineapple'}

In [122]:
#Creating a empty set
set2=set()
print("showing a empty set -->>",set2)

showing a blank set -->> set()

In [123]:
#set should consists of only one element
set3=set("Python","is","a","programming language")
set3

TypeError: set expected at most 1 argument, got 4

In [125]:
set3=set("Python is a programming language")
print(set3)

{'i', 'u', 'e', 'P', 'p', 'l', 't', 'y', 'h', 's', 'r', 'a', 'm', ' ', 'n', 'o', 'g'}

In [126]:
# we can create a set with the use of lists

set4=set(["Python","is","a","programming","language"])
set4

{'Python', 'a', 'is', 'language', 'programming'}

In [127]:
type(set4)

set

In [129]:
# Creating a set with list of numbers 
set5=set([1,2,3,4,5,6,7,8,9,10])
set5

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [132]:
#Creating a set with mixed type of elements

set6={"Python",3,"is",True,'programming',"'language'"}
set6,print(type(set6))

<class 'set'>

({"'language'", 3, 'Python', True, 'is', 'programming'}, None)

### Accessing elements in sets

>You **cannot access items in a set by referring to an index or a key**.

>But you can **loop through the set items** using a **for loop**, or ask if a **specified value** is present in a set, by using the **in** keyword.

In [134]:
print(set1)
#One can access the elements through looping in this way
for i in set1:
    print(i)

{'Pineapple', 'Grapes', 'Apple', 'Orange'}
Pineapple
Grapes
Apple
Orange

In [135]:
"Pineapple" in set1 #we can check whether an element is present in set or not using "in" keyword

True

##### Adding items to the set
>Once a set is created, you **cannot change** its items, but you can **add new items**.To **add one item** to a set use the **add()** method.

In [136]:
set1.add("strawberry")
set1

{'Apple', 'Grapes', 'Orange', 'Pineapple', 'strawberry'}

In [138]:
set1.add("blackberry","blueberry")
set1 # add() can take only 1 item at a time

TypeError: set.add() takes exactly one argument (2 given)

##### To add items from another set into the current set, use the **update()** method.

In [143]:
set_1={'Papaya','Jackfruit','Dragonfruit'}
set1.update(set_1)
print(set1)

{'Grapes', 'Orange', 'Apple', 'Pineapple', 'Jackfruit', 'strawberry', 'Papaya', 'Dragonfruit'}

##### Add Any Iterable
> The object in the update() method does not have to be a set, it can be any iterable object **(tuples, lists, dictionaries etc.)**.

In [144]:
set_2={"Potato","Cucumber","Raddish","Drumstick"}
set_3=["Brinjal","Carrot","Beetroot"]
set_2.update(set_3)
print(set_2)

{'Potato', 'Carrot', 'Cucumber', 'Raddish', 'Beetroot', 'Brinjal', 'Drumstick'}

In [145]:
set_3.update(set_2) # vicevarsa is not possible since list does not have any method called "update()"

AttributeError: 'list' object has no attribute 'update'

##### Removing items from sets.
>To remove an item in a set, use the **remove()**, or the **discard()** method.

In [148]:
print(set1)

{'Grapes', 'Orange', 'Apple', 'Pineapple', 'Jackfruit', 'strawberry', 'Papaya', 'Dragonfruit'}

In [149]:
set1.remove("Dragonfruit")
print(set1)

{'Grapes', 'Orange', 'Apple', 'Pineapple', 'Jackfruit', 'strawberry', 'Papaya'}

In [150]:
set1.remove("strawberry","Papaya")
print(set1) #remove can delete only 1 item at a time

TypeError: set.remove() takes exactly one argument (2 given)

In [157]:
set1.remove("Avacado") # removing an element which is not present in the set will raise an error
print(set1)

KeyError: 'Avacado'

In [152]:
set1.discard("Papaya")
print(set1)

{'Grapes', 'Orange', 'Apple', 'Pineapple', 'Jackfruit', 'strawberry'}

In [153]:
set1.discard("strawberry","Jackfruit")
print(set1) # discard also eliminates only 1 item at a time

TypeError: set.discard() takes exactly one argument (2 given)

In [156]:
set1.discard("Avacado") # removing an element which is not present in the set will not raise an error,it will simply display the set as output
print(set1)

{'Grapes', 'Orange', 'Apple', 'Pineapple', 'Jackfruit', 'strawberry'}

You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [158]:
set1.pop() # this not recommended to use since we will not get to know which item is deleted !

'Grapes'

In [159]:
# clear() is used delete all the elements from the set
set1.clear()
print(set1) #this results in empty set

set()

**del** keyword deletes the set completely

In [160]:
set1={1,2,3,True,"Apple","Orange",3.1444,0}
set1

{0, 1, 2, 3, 3.1444, 'Apple', 'Orange'}

In [161]:
del set1

In [162]:
print(set1)

NameError: name 'set1' is not defined

### Operations using two sets

##### Union() and update()

>There are several ways to join two or more sets in Python.
>> **union()** method returns a **new set** containing all items from both sets, or the **update()** method that **inserts all** the items from one set into another.Both union() and update() **excludes the duplicates**.

In [174]:
set1={'a','b','c','d','e','f'}
set2={1,2,3,4,5,6}
print("set1=",set1,"\nset2=",set2)

set1= {'f', 'a', 'e', 'b', 'c', 'd'}
set2= {1, 2, 3, 4, 5, 6}

In [175]:
# union() is used to join 2 sets
set3=set1.union(set2)
print(set3)

{'f', 1, 2, 3, 'e', 4, 5, 6, 'a', 'b', 'c', 'd'}

In [178]:
# update methods updates all the elements in set2 to set1
set1.update(set2)
print(set1)

{'f', 1, 2, 3, 'e', 4, 5, 6, 'a', 'b', 'c', 'd'}

In [179]:
set3=set1.update(set2)
print(set3) # this means only set1 is updated ,it will not store any items in set3

None

In [185]:
# joining more than 2 sets

set4={1,2}
set5={'a','b','c'}
set6={'Apple','Orange','Mango','Grapes'}
set7=set4.union(set5,set6)
print(set7)

{1, 2, 'Grapes', 'Mango', 'Orange', 'Apple', 'a', 'b', 'c'}

In [186]:
set8={100,100,200,300,True,True,False} # The repeated values in the set are excluded by union()
set9=set7.union(set8)
print(set9)

{False, 1, 2, 'Grapes', 100, 'Mango', 'Orange', 200, 'Apple', 300, 'a', 'b', 'c'}

In [187]:
set9.update(set8) # The repeated values in the set are excluded by update()
print(set9)

{False, 1, 2, 'Grapes', 100, 'Mango', 'Orange', 200, 'Apple', 300, 'a', 'b', 'c'}

##### intersection()
> The **intersection()** method will return a new set, that only contains the items that are **present in both sets**.

In [207]:
set10={1,2,3,4,5,6,7,8,9,10}
set11={2,4,6,8,10}
set12=set10.intersection(set11)
print(set12)

{2, 4, 6, 8, 10}

##### Keep ONLY the Duplicates
> The **intersection_update()** method will keep only the items that are **present in both sets**.

In [204]:
set10.intersection_update(set11)
print(set10)

{2, 4, 6, 8, 10}

##### Keep All, But NOT the Duplicates
>The **symmetric_difference_update()** method will keep only the elements that are **NOT present in both sets**.

>The **symmetric_difference()** method will return **a new set**, that contains only the elements that are **NOT present in both sets**.

In [211]:
set13={1,2,3,4,5}
set14={2,4,6,8,10}
set13.symmetric_difference_update(set14) #this function only updates the set
print(set13)

{1, 3, 5, 6, 8, 10}

In [213]:
set13={1,2,3,4,5}
set14={2,4,6,8,10}
set15=set13.symmetric_difference(set14) #this function updates the set and stores the updated set in another function
print(set15)

{1, 3, 5, 6, 8, 10}

# List of Set Methods
<ul>Python has a set of built-in methods that you can use on sets:
<li>add() -->> Adds an element to the set.</li>
<li>clear()	-->> Removes all the elements from the set.</li>
<li>copy()-->> Returns a copy of the set.</li>
<li>difference()-->Returns a set containing the difference between two or more sets.</li>
<li>difference_update()-->>Removes the items in this set that are also included in another, specified set.</li>
<li>discard()-->> Remove the specified item.</li>
<li>intersection()-->> Returns a set, that is the intersection of two other sets.</li>
<li>intersection_update( ) -->>Removes the items in this set that are not present in other, specified set(s).</li>
<li>isdisjoint() -->>	Returns whether two sets have a intersection or not.</li>
<li>issubset() -->>	Returns whether another set contains this set or not.</li>
<li>issuperset() -->>	Returns whether this set contains another set or not.</li>
<li>pop() -->>	Removes an element from the set.</li>
<li>remove() -->>	Removes the specified element.</li>
<li>symmetric_difference() -->>	Returns a set with the symmetric differences of two sets.</li>
<li>symmetric_difference_update() -->>	inserts the symmetric differences from this set and another.</li>
<li>union() -->> Return a set containing the union of sets.</li>
<li>update() -->> update the set with the union of this set and others.</li></ul>

In [224]:
myset1={1,2,3,4,5}
myset2={2,4,6,8,10}
print(myset1,myset2,sep="\n")

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}

In [225]:
myset3=myset1.copy()
myset3

{1, 2, 3, 4, 5}

In [226]:
myset4=myset1.difference(myset2)
myset4

{1, 3, 5}

In [227]:
myset1.difference_update(myset2)
myset1

{1, 3, 5}

In [229]:
myset1.discard(1)
print(myset1)

{3, 5}

In [236]:
 # isdisjoint() - Two sets are said to be disjoint sets if they have no elements in common
s1={1,2,3,4,5}
s2={6,12,18,24}
s3={3,6,9,12,15}
print(s1.isdisjoint(s2)) #this gives true because there are no elements in common in sets s1 and s2
print(s2.isdisjoint(s3)) #this gives false because there are elements in common in sets s2 and 3

True
False

In [245]:
#issubset()- set A is a subset of B if all the elements of A are also elements of B,Then B is a superset of A
A={1,2,3,4,5}
B={2,4}
print("A is a subset of B? ",A.issubset(B)) #because all the elements of A are not the elements of B
print("B is a subset of A? ",B.issubset(A)) #because all the elements of B are the elements of A
print("B is a superset of A",B.issuperset(A)) #because A is not a subset of B
print("A is a superset of B",A.issuperset(B)) #because B is a subset of A

A is a subset of B?  False
B is a subset of A?  True
B is a superset of A False
A is a superset of B True

In [246]:
A.remove(5) # it is used to delete a single element from the set
print(A)

{1, 2, 3, 4}

* * *

# Python Arrays

>Python does not have built-in support for Arrays, but Python Lists can be used instead.

>Let's see how to use **LISTS as ARRAYS**, however, to work with arrays in Python you will have to import a library, like the **numpy library**

### Creating an Array

In [1]:
#creating an arrays of animal names
animals=["Lion","Tiger","Elephant","Fox","Zebra"]
print(animals)

['Lion', 'Tiger', 'Elephant', 'Fox', 'Zebra']
<class 'list'>

In [5]:
len(animals) #The length of an array is always one more than the highest array index.

5

### Accessing array elements

In [3]:
animals[3]

'Fox'

In [4]:
animals[0]

'Lion'

### Arrays
>Arrays are used to **store multiple values** in one single variable

>Python Arrays are used when you need to use **many variables** which are of the **same type**.These are used especially when you have to process the **data dynamically**.Python arrays are much **faster** than lists

><code>Syntax:
>arrayName=array.array(type code for data type,[array,items])</code> 

<li>Identifier: specify a name like usually, you do for variables</li>
<li>Module: Python has a special module for creating array in Python, called “array” – you must import it before using it</li>
<li>Method: the array module has a method for initializing the array. It takes two arguments, type code, and elements.</li>
<li>Type Code: specify the data type using the type codes available (see list below)</li>
<li>Elements: specify the array elements within the square brackets, for example [130,450,103]</li>

##### Creating array in python using the above syntax

In [6]:
import array as myarray #array should be imported before creating an array
array1=myarray.array('d',[0.5,1.0,1.5,2.0,2.5,3.0]) # 'd' is a type code indicating the elements of array are double values!
print(array1)

array('d', [0.5, 1.0, 1.5, 2.0, 2.5, 3.0])

In [7]:
type(array1)

array.array

##### To access array item use []

In [10]:
print(array1[0],type(array1[0])) #the array index starts with 0,the last element can be accessed using -1

0.5 <class 'float'>

In [13]:
array2=myarray.array('i',[2,4,6,8,10]) # 'i' indicates interger type!
print(array2)

array('i', [2, 4, 6, 8, 10])

##### slicing in arrays

In [15]:
print(array2[1:3])

array('i', [4, 6])

In [20]:
print(array1[-1:-3])#slicing is not possible using -ve indexing

array('d')

In [23]:
print(array1[-5]) #you can access single element using slicing!

1.0

##### inserting in arrays

<code>Syntax:
    array.Name.insert(index,value)</code>

In [24]:
array2.insert(5,12)
print(array2)

array('i', [2, 4, 6, 8, 10, 12])

##### Arrays are mutable ,hence modification is possible

In [25]:
array2[0]=1
print(array2)

array('i', [1, 4, 6, 8, 10, 12])

##### Concatenating 2 or more arrays using "+" operator

In [33]:
a1=myarray.array('i',[1,2,3,4,5])
a2=myarray.array('i',[6,7,8,9,10])
a3=a1+a2
print(a3)

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

##### Deletion in arrays

In [34]:
a3.pop(9) # pop(index) #element at index 9 is removed from a3
print(a3)

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9])

In [35]:
del a3[8] #element at index 8 is deleted from the array
print(a3)

array('i', [1, 2, 3, 4, 5, 6, 7, 8])

In [36]:
del a3
print(a3) # entire array is deleted

NameError: name 'a3' is not defined

In [37]:
a1.remove(5) # remove(value)
print(a1)

array('i', [1, 2, 3, 4])

##### to get the index of particular element

In [38]:
a1.index(4) #index(value)

3

##### Reversing an array

In [41]:
print("a2 before=",a2)
a2.reverse()
print("a2 after reversing=",a2)

a2 before= array('i', [6, 7, 8, 9, 10])
a2 after reversing= array('i', [10, 9, 8, 7, 6])

##### count(value)

In [44]:
a2.count(8) # gives the number of times a value occured

1