<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the Ad Budget Dataset of XYZ Firm

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [1]:
#Import the required libraries
import numpy as np
import pandas as pd

In [20]:
#Import the advertising dataset
Advertising_data=pd.read_csv('Advertising Budget and Sales.csv',index_col=0)
Advertising_data

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1               230.1                 37.8                     69.2       22.1
2                44.5                 39.3                     45.1       10.4
3                17.2                 45.9                     69.3        9.3
4               151.5                 41.3                     58.5       18.5
5               180.8                 10.8                     58.4       12.9
..                ...                  ...                      ...        ...
196              38.2                  3.7                     13.8        7.6
197              94.2                  4.9                      8.1        9.7
198             177.0                  9.3                      6.4       12.8
199             283.6                 42.0                     66.2       25.5
200             232.1                  8.6                      8.7       13.4

[200 rows x 4 columns]

#### 2: Analyze the dataset

In [21]:
#View the initial few records of the dataset
Advertising_data.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [22]:
#Check the total number of elements in the dataset
Advertising_data.size

800

#### 3: Find the features or media channels used by the firm

In [23]:
#Check the number of observations (rows) and attributes (columns) in the dataset
Advertising_data.shape

(200, 4)

In [24]:
#View the names of each of the attributes
Advertising_data.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [25]:
#Create a feature object from the columns
X_features=Advertising_data.drop('Sales ($)',axis=1)

In [26]:
#View the feature object
X_features

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1               230.1                 37.8                     69.2
2                44.5                 39.3                     45.1
3                17.2                 45.9                     69.3
4               151.5                 41.3                     58.5
5               180.8                 10.8                     58.4
..                ...                  ...                      ...
196              38.2                  3.7                     13.8
197              94.2                  4.9                      8.1
198             177.0                  9.3                      6.4
199             283.6                 42.0                     66.2
200             232.1                  8.6                      8.7

[200 rows x 3 columns]

In [52]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
y_target=Advertising_data['Sales ($)']

In [53]:
#View the target object
y_target

1      22.1
2      10.4
3       9.3
4      18.5
5      12.9
       ...
196     7.6
197     9.7
198    12.8
199    25.5
200    13.4
Name: Sales ($), Length: 200, dtype: float64

In [54]:
#Verify if all the observations have been captured in the feature object
X_features.shape

(200, 3)

In [55]:
#Verify if all the observations have been captured in the target object
y_target.shape

(200,)

#### 5: Split the original dataset into training and testing datasets for the model

In [57]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X_features,y_target,random_state=10)

In [58]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((150, 3), (50, 3), (150,), (50,))

#### 6: Create a model  to predict the sales outcome

In [59]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linReg=LinearRegression()
linReg.fit(X_train,y_train)

LinearRegression()

In [60]:
#Print the intercept and coefficients 
print(linReg.intercept_)
print(linReg.coef_)

3.4385290381741207
[ 0.04282674  0.19498398 -0.00328677]

In [61]:
#Predict the outcome for the testing dataset
y_pred=linReg.predict(X_test)
y_pred

array([18.1835838 , 13.09933076, 18.01743206, 23.55593585, 20.70691172,
       14.34424782, 14.95215577, 21.39177034, 21.1937631 , 12.89714069,
       23.92497569,  7.32074389, 12.38926386, 19.23072502, 19.32137041,
       13.5807523 , 19.60347048,  9.46891887, 21.12289053, 20.94736778,
       15.56432864, 11.16127854, 22.77518615, 15.88807512, 17.33758314,
        8.30917104, 12.10870194, 12.85895622, 21.74369414,  8.14123612,
       12.55279386, 20.44874542,  4.86020267,  4.84738644, 16.65975934,
       15.65925492,  6.84299537, 17.65996629,  9.09309146, 13.58308503,
       13.12496368, 12.36986279, 15.23008766, 10.26278526, 22.01370029,
       10.95732245, 14.78056494, 15.0268829 ,  9.09414192, 12.104141  ])

#### 7: Calculate the Mean Square Error (MSE)

In [62]:
#Import required libraries for calculating MSE (mean square error)
from sklearn import metrics

In [63]:
#Calculate the MSE
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

2.4757983617686166

In [68]:
print('Actual',y_test.values[0:10])
print()
print('Predicted',y_pred[0:10])

Actual [18.4  7.2 18.  25.5 22.6 14.6 14.9 23.7 22.3  9.3]

Predicted [18.1835838  13.09933076 18.01743206 23.55593585 20.70691172 14.34424782
 14.95215577 21.39177034 21.1937631  12.89714069]