# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [3]:
import pandas as pd

In [4]:
ecom = pd.read_csv('Ecommerce Purchases')

**Check the head of the DataFrame.**

In [5]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77130-7478",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2.9.183 Version/12.00,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 84355-4179",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Presto/2.9.176 Version/11.00,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.2; Trident/5.1),"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 rv:3.0; en-US) AppleWebKit/531.27.1 (KHTML, like Gecko) Version/5.1 Safari/531.27.1","Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 57826",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2.9.182 Version/11.00,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** How many rows and columns are there? **

In [6]:
ecom.shape

(10000, 14)

In [7]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** What is the average Purchase Price? **

In [10]:
ecom['Purchase Price'].mean()

50.34730200000025

** What were the highest and lowest purchase prices? **

In [11]:
ecom['Purchase Price'].min(), ecom['Purchase Price'].max()

(0.0, 99.99)

In [27]:
ecom['Purchase Price'] == ecom['Purchase Price'].min()  # use these as the Boolean indices to 
# fetch those rows where the conditon is met

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: Purchase Price, Length: 10000, dtype: bool

In [15]:
# What was the name of the Lot & Company name against the min & max Purchase prices???
ecom[ecom['Purchase Price'] == ecom['Purchase Price'].min()]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
2876,"332 Jones Parkways\nEast Katherineville, GA 64230",39 GT,AM,"Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_9 rv:3.0; en-US) AppleWebKit/534.24.3 (KHTML, like Gecko) Version/5.0.5 Safari/534.24.3","Lyons, Diaz and Clark",4204500444841766,01/18,38,VISA 16 digit,jennifer11@baker.com,Biomedical scientist,223.47.177.174,it,0.0
5487,"465 Mallory Ways\nNorth Rebecca, RI 82734-1160",93 OH,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gecko/2015-12-05 23:24:26 Firefox/9.0,Flynn and Sons,30469912089738,09/23,236,Discover,mjohnson@austin.org,Stage manager,43.99.56.59,zh,0.0

In [16]:
ecom[ecom['Purchase Price'] == ecom['Purchase Price'].min()][['Lot', 'Company']]

        Lot                Company
2876  39 GT  Lyons, Diaz and Clark
5487  93 OH         Flynn and Sons

In [17]:
ecom[ecom['Purchase Price'] == ecom['Purchase Price'].max()][['Lot', 'Company']]

        Lot                    Company
2092  56 lu                Pitts Group
7807  64 Nf  Porter, Johnson and Pratt

In [26]:
ecom['Purchase Price'].idxmin(), ecom['Purchase Price'].idxmax()  # CAREFUL !!!!

(2876, 2092)

** How many people have English 'en' as their Language of choice on the website? **

In [28]:
(ecom["Language"]=="en").sum()

1098

In [29]:
sum(ecom["Language"]=="en")

1098

In [32]:
ecom[ecom['Language']=='en'].shape[0]

1098

In [33]:
len(ecom[ecom['Language']=='en'])

1098

** How many people have the job title of "Lawyer" ? **

In [34]:
sum(ecom["Job"]=="Lawyer")

30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [35]:
ecom.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [36]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? **

In [39]:
ecom["Job"].value_counts().head()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

In [40]:
ecom['Job'].value_counts().nlargest(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [47]:
ecom[ecom['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [46]:
ecom[ecom['Lot']=='90 WT']['Purchase Price'].values[0]

75.1

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [50]:
ecom[ecom["Credit Card"]==4926535242672853]["Email"].values[0]

'bondellen@williams-garza.com'

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [51]:
((ecom["CC Provider"] == "American Express") & (ecom["Purchase Price"]>95.0)).sum()

39

In [54]:
ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price'] > 95)].shape[0]

39

In [55]:
len(ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price'] > 95)])

39

** Hard: How many people have a credit card that expires in 2025? **

In [56]:
ecom['CC Exp Date']

0       02/20
1       11/18
2       08/19
3       02/24
4       10/25
        ...
9995    03/22
9996    07/25
9997    05/21
9998    11/17
9999    02/19
Name: CC Exp Date, Length: 10000, dtype: object

In [59]:
def expiry_25(col):
    if str(col)[3:] == '25':
        return True
    else:
        return False

In [60]:
ecom['CC Exp Date'].apply(expiry_25)

0       False
1       False
2       False
3       False
4        True
        ...
9995    False
9996     True
9997    False
9998    False
9999    False
Name: CC Exp Date, Length: 10000, dtype: bool

In [61]:
sum(ecom['CC Exp Date'].apply(expiry_25))

1033

In [70]:
'02/19'.split('/')[1] == '25'

False

In [71]:
'02/25'.split('/')[1] == '25'

True

In [72]:
'02/25'.split('/')

['02', '25']

In [73]:
def expiry_25(col):
    # take the col value as string, then split the string at '/'
    # then take the second value .. which will be the year (as the fisrt value will month)
    if str(col).split('/')[1] == '25':    
        return True
    else:
        return False

In [74]:
sum(ecom['CC Exp Date'].apply(expiry_25))

1033

In [76]:
# we aare checking if the lambda function works !!
exp = lambda x: str(x)[3:] == '25'
exp('02/25')
exp('02/24')

False

In [77]:
ecom['CC Exp Date'].apply(lambda x: str(x)[3:] == '25')  # apply the above lambda function

0       False
1       False
2       False
3       False
4        True
        ...
9995    False
9996     True
9997    False
9998    False
9999    False
Name: CC Exp Date, Length: 10000, dtype: bool

In [78]:
sum(ecom['CC Exp Date'].apply(lambda x: str(x)[3:] == '25'))

1033

In [81]:
# Let's add another col in the dataset (CC_Exp_Year), which only has the expiry year (as int) ??
ecom['CC Exp Date'].apply(lambda x: int(x[3:]) )

0       20
1       18
2       19
3       24
4       25
        ..
9995    22
9996    25
9997    21
9998    17
9999    19
Name: CC Exp Date, Length: 10000, dtype: int64

In [83]:
ecom['CC_Exp_Year'] = ecom['CC Exp Date'].apply(lambda x: int(x[3:]) )
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,CC_Exp_Year
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77130-7478",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2.9.183 Version/12.00,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,20
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 84355-4179",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Presto/2.9.176 Version/11.00,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,18
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.2; Trident/5.1),"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,19
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 rv:3.0; en-US) AppleWebKit/531.27.1 (KHTML, like Gecko) Version/5.1 Safari/531.27.1","Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,24
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 57826",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2.9.182 Version/11.00,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,25

In [85]:
sum(ecom['CC_Exp_Year'] == 25)

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [87]:
ecom["Email"].str.split('@')

0                    [pdunlap, yahoo.com]
1                   [anthony41, reed.com]
2       [amymiller, morales-harrison.com]
3          [brent16, olson-robinson.info]
4          [christopherwright, gmail.com]
                      ...
9995            [iscott, wade-garner.com]
9996                [mary85, hotmail.com]
9997                 [tyler16, gmail.com]
9998           [elizabethmoore, reid.net]
9999             [rachelford, vaughn.com]
Name: Email, Length: 10000, dtype: object

In [89]:
ecom["Email"].str.split('@').str[1]

0                  yahoo.com
1                   reed.com
2       morales-harrison.com
3        olson-robinson.info
4                  gmail.com
                ...
9995         wade-garner.com
9996             hotmail.com
9997               gmail.com
9998                reid.net
9999              vaughn.com
Name: Email, Length: 10000, dtype: object

In [90]:
ecom["Email"].str.split('@').str[1].value_counts()

hotmail.com        1638
yahoo.com          1616
gmail.com          1605
smith.com            42
williams.com         37
                   ...
ward.biz              1
hicks-james.com       1
coleman.biz           1
gutierrez.info        1
todd.biz              1
Name: Email, Length: 3416, dtype: int64

In [91]:
ecom["Email"].str.split('@').str[1].value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [92]:
ecom['Email'].apply(lambda x: x.split('@')[1])

0                  yahoo.com
1                   reed.com
2       morales-harrison.com
3        olson-robinson.info
4                  gmail.com
                ...
9995         wade-garner.com
9996             hotmail.com
9997               gmail.com
9998                reid.net
9999              vaughn.com
Name: Email, Length: 10000, dtype: object

In [93]:
ecom['Email'].apply(lambda x: x.split('@')[1]).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64